<head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top ">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="doctor" >Profile</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active"   href="drExaminations">Examinations</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="misc">Miscellaneous</a>
              </li>
              
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link active" href="home" (click)="logout()">Log out</a>
                </li>
              </ul>
          </div>
        </div>
      </nav>
  </header>


  <body>
    <div class="container table-responsive" id="collapseA">
        <table class="table table-striped table-borderless table-responsive" *ngIf="nextThree.length != 0">
          <thead  >
            <tr>
              <th scope="col" style="background-color: #a31b0f;color: white; border-bottom: 1px solid white;">Patient</th>
              <th scope="col" style="background-color: #a31b0f;color: white; border-bottom: 1px solid white;">Examination</th>
              <th scope="col" style="background-color: #a31b0f;color: white; border-bottom: 1px solid white;">Date</th>
              <th scope="col" style="background-color: #a31b0f;color: white; border-bottom: 1px solid white;">Time</th>
              <th scope="col" style="background-color: #a31b0f;color: white; border-bottom: 1px solid white;"></th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let e of nextThree">
              <td style="background-color: #a31b0f;color: white;">{{e.patientName}} {{e.patientLastname}}</td>
              
              <td style="background-color: #a31b0f;color: white;"><a  href="chosenPatient" (click)="patient(e.patient)" style="color:white;text-decoration: none;">{{e.examName}}</a></td>
              <td style="background-color: #a31b0f;color: white;">{{e.date}}</td>
              <td style="background-color: #a31b0f;color: white;">{{e.time}}</td>
              <td style="background-color: #a31b0f;color: white;">
                <div style="display: flex;align-items: center;">
                <input type="text"   [(ngModel)]="e.reason" class="form-control" style="margin-right: 10px;background-color: #0d9144;color: white;border-color: #0d9144;">
                <button  type="button" class="btn btn-primary" style="background-color: #0d9144;color: white;" (click)="cancel(e.id)">Cancel</button>
                </div>
              </td>
            

          </tr>
          </tbody>
        </table>
    <div class="card card-body" *ngIf="nextThree.length == 0" style="background-color: #a31b0f;color: white;margin-bottom: 10px;border-color: #a31b0f;display: flex;align-items: center;">
        There are no future examinations for this doctor
    </div>
    </div>

    <div class="col-md-8">
        <full-calendar [options]="calendarOptions" class="calendar"></full-calendar>
    </div> 
  </body>