<head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top ">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="manager">Users</a>
              </li>
              <li class="nav-item">
                <a class="nav-link "  href="other">Other</a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link active" href="home" (click)="logout()">Log out</a>
                </li>
              </ul>
          </div>
        </div>
      </nav>
  </header>

  <body>
    <button class="btn btn-primary rounded-pill" type="button" data-bs-toggle="collapse" data-bs-target="#collapseA" style="width:25%;display: flex;justify-content: center;background-color:#a31b0f;color:white;border-color: #a31b0f;margin-bottom:10px">
        Patients
    </button>
      <div class="container table-responsive collapse" id="collapseA">
            <table class="table table-striped table-borderless table-responsive" *ngIf="allPatients.length != 0">
              <thead  >
                <tr>
                  <th scope="col" style="background-color: #a31b0f;color: white; border-bottom: 1px solid white;"></th>
                  <th scope="col" style="background-color: #a31b0f;color: white; border-bottom: 1px solid white;">Name</th>
                  <th scope="col" style="background-color: #a31b0f;color: white; border-bottom: 1px solid white;">Lastname</th>
                  <th scope="col" style="background-color: #a31b0f;color: white; border-bottom: 1px solid white;">Address</th>
                  <th scope="col" style="background-color: #a31b0f;color: white; border-bottom: 1px solid white;">Email</th>
                  <th scope="col" style="background-color: #a31b0f;color: white; border-bottom: 1px solid white;">Phone</th>
                  <th scope="col" style="background-color: #a31b0f;color: white; border-bottom: 1px solid white;"></th>
                  <th scope="col" style="background-color: #a31b0f;color: white; border-bottom: 1px solid white;"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let p of allPatients">
                  <td style="background-color: #a31b0f;color: white;">
                    <img src="{{p.profilePhoto}}" class="img-fluid" style="max-width:100px;max-height: 100px;">
                    <input *ngIf = "p.gettingUpdated==true" type="file" class="form-control" id="customFile" style="color: #a31b0f;min-height: 100%;" (input)="fileChosen($event)">
                
                </td>
                  <td style="background-color: #a31b0f;color: white;" *ngIf="p.gettingUpdated==false">{{p.name}}</td>
                  <td style="background-color: #a31b0f;color: white;" *ngIf="p.gettingUpdated==false">{{p.lastname}}</td>
                  <td style="background-color: #a31b0f;color: white;" *ngIf="p.gettingUpdated==false">{{p.address}}</td>
                  <td style="background-color: #a31b0f;color: white;" *ngIf="p.gettingUpdated==false">{{p.email}} </td>
                  <td style="background-color: #a31b0f;color: white;" *ngIf="p.gettingUpdated==false">{{p.phone}}</td>
                  <td style="background-color: #a31b0f;color: white;" *ngIf="p.gettingUpdated==false">
                    <button *ngIf = "p.gettingUpdated==false" type="button" class="btn btn-primary" style="background-color: #0d9144;color: white;min-width: 100%;min-height: 100%;" (click)="update(p.id)">Update</button>
                  </td>
                  <td style="background-color: #a31b0f;color: white;" *ngIf="p.gettingUpdated==true">
                    <input type="text"  [(ngModel)]="patientName" class="form-control" placeholder="{{p.name}}">
                  </td>
                  <td style="background-color: #a31b0f;color: white;" *ngIf="p.gettingUpdated==true">
                    <input type="text"  [(ngModel)]="patientLastname" class="form-control" placeholder="{{p.lastname}}">
                </td>
                  <td style="background-color: #a31b0f;color: white;" *ngIf="p.gettingUpdated==true">
                    <input type="text"  [(ngModel)]="patientAddress" class="form-control" placeholder="{{p.address}}">
                </td>
                  <td style="background-color: #a31b0f;color: white;" *ngIf="p.gettingUpdated==true">
                    <input type="text"  [(ngModel)]="patientEmail" class="form-control" placeholder="{{p.email}}">
                </td>
                  <td style="background-color: #a31b0f;color: white;" *ngIf="p.gettingUpdated==true">
                    <input type="text"  [(ngModel)]="patientPhone" class="form-control" placeholder="{{p.phone}}">
                </td>
                  <td style="background-color: #a31b0f;color: white;" *ngIf="p.gettingUpdated==true">
                    <button *ngIf = "p.gettingUpdated==true" type="button" class="btn btn-primary" style="background-color: #0d9144;color: white;min-width: 100%;min-height: 100%;" (click)="save(p.id)">Save</button>
                  </td>
                  <td style="background-color: #a31b0f;color: white;" >
                    <button  type="button" class="btn btn-primary" style="background-color: #0d9144;color: white;min-width: 100%;min-height: 100%;" (click)="delete(p.username)">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
     
        <div class="card card-body" *ngIf="allPatients.length == 0" style="background-color: #a31b0f;color: white;margin-bottom: 10px;border-color: #a31b0f;">
            There are no patients
        </div>
    </div>

    <button class="btn btn-primary rounded-pill" type="button" data-bs-toggle="collapse" data-bs-target="#collapse" style="width:25%;display: flex;justify-content: center;background-color:#a31b0f;color:white;border-color: #a31b0f;margin-bottom:10px">
        Doctors
    </button>
      <div class="container table-responsive collapse" id="collapse">
            <table class="table table-striped table-borderless table-responsive" *ngIf="allDoctors.length != 0">
              <thead  >
                <tr>
                  <th scope="col" style="background-color: #a31b0f;color: white; border-bottom: 1px solid white;"></th>
                  <th scope="col" style="background-color: #a31b0f;color: white; border-bottom: 1px solid white;">Name</th>
                  <th scope="col" style="background-color: #a31b0f;color: white; border-bottom: 1px solid white;">Lastname</th>
                  <th scope="col" style="background-color: #a31b0f;color: white; border-bottom: 1px solid white;">Address</th>
                  <th scope="col" style="background-color: #a31b0f;color: white; border-bottom: 1px solid white;">Email</th>
                  <th scope="col" style="background-color: #a31b0f;color: white; border-bottom: 1px solid white;">Phone</th>
                  <th scope="col" style="background-color: #a31b0f;color: white; border-bottom: 1px solid white;">Licence</th>
                  <th scope="col" style="background-color: #a31b0f;color: white; border-bottom: 1px solid white;">Specialty</th>
                  <th scope="col" style="background-color: #a31b0f;color: white; border-bottom: 1px solid white;">Department</th>
                  <th scope="col" style="background-color: #a31b0f;color: white; border-bottom: 1px solid white;"></th>
                  <th scope="col" style="background-color: #a31b0f;color: white; border-bottom: 1px solid white;"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let d of allDoctors">
                  <td style="background-color: #a31b0f;color: white;">
                    <img src="{{d.profilePhoto}}" class="img-fluid" style="max-width:100px;max-height: 100px;">
                    <input *ngIf = "d.gettingUpdated==true" type="file" class="form-control" id="customFile" style="color: #a31b0f;min-height: 100%;" (input)="fileChosen($event)">
                
                </td>
                  <td style="background-color: #a31b0f;color: white;" *ngIf="d.gettingUpdated==false">{{d.name}}</td>
                  <td style="background-color: #a31b0f;color: white;" *ngIf="d.gettingUpdated==false">{{d.lastname}}</td>
                  <td style="background-color: #a31b0f;color: white;" *ngIf="d.gettingUpdated==false">{{d.address}}</td>
                  <td style="background-color: #a31b0f;color: white;" *ngIf="d.gettingUpdated==false">{{d.email}} </td>
                  <td style="background-color: #a31b0f;color: white;" *ngIf="d.gettingUpdated==false">{{d.phone}}</td>
                  <td style="background-color: #a31b0f;color: white;" *ngIf="d.gettingUpdated==false">{{d.licence}}</td>
                  <td style="background-color: #a31b0f;color: white;" *ngIf="d.gettingUpdated==false">{{d.specialty}}</td>
                  <td style="background-color: #a31b0f;color: white;" *ngIf="d.gettingUpdated==false">{{d.department}}</td>
                  <td style="background-color: #a31b0f;color: white;" *ngIf="d.gettingUpdated==false">
                    <button *ngIf = "d.gettingUpdated==false" type="button" class="btn btn-primary" style="background-color: #0d9144;color: white;" (click)="updateD(d.id)">Update</button>
                  </td>
                  <td style="background-color: #a31b0f;color: white;" *ngIf="d.gettingUpdated==true">
                    <input type="text"  [(ngModel)]="doctorName" class="form-control" placeholder="{{d.name}}">
                  </td>
                  <td style="background-color: #a31b0f;color: white;" *ngIf="d.gettingUpdated==true">
                    <input type="text"  [(ngModel)]="doctorLastname" class="form-control" placeholder="{{d.lastname}}">
                </td>
                  <td style="background-color: #a31b0f;color: white;" *ngIf="d.gettingUpdated==true">
                    <input type="text"  [(ngModel)]="doctorAddress" class="form-control" placeholder="{{d.address}}">
                </td>
                
                <td style="background-color: #a31b0f;color: white;" *ngIf="d.gettingUpdated==true">{{d.email}} </td>
                  <td style="background-color: #a31b0f;color: white;" *ngIf="d.gettingUpdated==true">
                    <input type="text"  [(ngModel)]="doctorPhone" class="form-control" placeholder="{{d.phone}}">
                </td>
                <td style="background-color: #a31b0f;color: white;" *ngIf="d.gettingUpdated==true">
                    <input type="number"  [(ngModel)]="doctorLicence" class="form-control" placeholder="{{d.licence}}">
                </td>
                <td style="background-color: #a31b0f;color: white;" *ngIf="d.gettingUpdated==true">
                    <input type="text"  [(ngModel)]="doctorSpecialty" class="form-control" placeholder="{{d.specialty}}">
                </td>
                
                <td style="background-color: #a31b0f;color: white;" *ngIf="d.gettingUpdated==true">{{d.department}}</td>
             
                  <td style="background-color: #a31b0f;color: white;" *ngIf="d.gettingUpdated==true">
                    <button *ngIf = "d.gettingUpdated==true" type="button" class="btn btn-primary" style="background-color: #0d9144;color: white;" (click)="saveD(d.id)">Save</button>
                  </td>
                  <td style="background-color: #a31b0f;color: white;" >
                    <button  type="button" class="btn btn-primary" style="background-color: #0d9144;color: white;" (click)="deleteD(d.username)">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
     
        <div class="card card-body" *ngIf="allDoctors.length == 0" style="background-color: #a31b0f;color: white;margin-bottom: 10px;border-color: #a31b0f;">
            There are no doctors
        </div>
    </div>

    <button class="btn btn-primary rounded-pill" type="button" data-bs-toggle="collapse" data-bs-target="#collapseB" style="width:25%;display: flex;justify-content: center;background-color:#a31b0f;color:white;border-color: #a31b0f;margin-bottom:10px">
        Register Requests
    </button>
      <div class="container table-responsive collapse" id="collapseB">
            <table class="table table-striped table-borderless table-responsive" *ngIf="pendingRequests.length != 0">
              <thead  >
                <tr>
                  <th scope="col" style="background-color: #a31b0f;color: white; border-bottom: 1px solid white;"></th>
                  <th scope="col" style="background-color: #a31b0f;color: white; border-bottom: 1px solid white;">Name</th>
                  <th scope="col" style="background-color: #a31b0f;color: white; border-bottom: 1px solid white;">Lastname</th>
                  <th scope="col" style="background-color: #a31b0f;color: white; border-bottom: 1px solid white;">Address</th>
                  <th scope="col" style="background-color: #a31b0f;color: white; border-bottom: 1px solid white;"></th>
                  
              
                    
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let r of pendingRequests">
                  <td style="background-color: #a31b0f;color: white;">
                    <img src="{{r.profilePhoto}}" class="img-fluid" style="max-width:100px;max-height: 100px;">
                 </td>
                  <td style="background-color: #a31b0f;color: white;" >{{r.name}}</td>
                  <td style="background-color: #a31b0f;color: white;" >{{r.lastname}}</td>
                  <td style="background-color: #a31b0f;color: white;" >{{r.address}}</td>
                  <td style="background-color: #a31b0f;color: white;" >
                    <button  type="button" class="btn btn-primary" style="background-color: #0d9144;color: white;margin-right: 2px;" (click)="accept(r.id)">Accept</button>
                    <button  type="button" class="btn btn-primary" style="background-color: #0d9144;color: white;margin-left: 2px;" (click)="deny(r.id)">Deny</button>
                  
                  </td>
                  
                </tr>
              </tbody>
            </table>
     
        <div class="card card-body" *ngIf="pendingRequests.length == 0" style="background-color: #a31b0f;color: white;margin-bottom: 10px;border-color: #a31b0f;">
            There are no register requests
        </div>
    </div>

    <button class="btn btn-primary rounded-pill" type="button" data-bs-toggle="collapse" data-bs-target="#collapseC" style="width:25%;display: flex;justify-content: center;background-color:#a31b0f;color:white;border-color: #a31b0f;margin-bottom:10px">
      Add a new doctor
    </button>
    <div class="container table-responsive collapse" id="collapseC">
      <form class="row g-3">
        <div class="col-md-6">
            <div class="form-floating">
                <input type="text" class="form-control" id="username" name="username" placeholder="username" [(ngModel)]="username">
                <label for="username" class="email">Username</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="lozinka"  name="pass" [(ngModel)]="password">
                <label for="floatingPassword" class="lozinka">Password</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-floating">
                <input type="password" class="form-control" id="umm" placeholder="lozinka"  name="passAgain" [(ngModel)]="passwordAgain">
                <label for="umm" class="lozinka">Password Verify</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-floating">
                <input type="text" class="form-control" id="name" placeholder="name"  name="name" [(ngModel)]="name">
                <label for="name" class="email">Name</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-floating">
                <input type="text" class="form-control" id="lastname" placeholder="lastname"  name="lastname" [(ngModel)]="lastname">
                <label for="lastname" class="email">Lastname</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-floating">
                <input type="text" class="form-control" id="address" placeholder="address"  name="address" [(ngModel)]="address">
                <label for="address" class="email">Address</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-floating">
                <input type="text" class="form-control" id="phone" placeholder="phone"  name="phone" [(ngModel)]="phone">
                <label for="phone" class="email">Phone</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-floating">
                <input type="email" class="form-control" id="email" placeholder="email" name="email" [(ngModel)]="email">
                <label for="email" class="email">Email</label>
            </div>
        </div>
        <div class="col-md-4">
          <div class="form-floating">
              <input type="number" class="form-control" id="licence" placeholder="licence" name="licence" [(ngModel)]="licence">
              <label for="licence" class="email">Licence</label>
          </div>
      </div>
      <div class="col-md-4">
        <div class="form-floating">
            <input type="text" class="form-control" id="specialty" placeholder="specialty" name="specialty" [(ngModel)]="specialty">
            <label for="specialty" class="email">Specialty</label>
        </div>
    </div>
    <div class="col-md-4">
      <div class="form-floating">
          <input type="text" class="form-control" id="department" placeholder="department" name="department" [(ngModel)]="department">
          <label for="department" class="email">Department</label>
      </div>
  </div>
        
        <div class="col-12">
            <input type="file" class="form-control" id="customFile" style="color: #a31b0f;min-height: 100%;" (input)="fileChosen($event)" >
        </div>
        <div class="col-12" style="display:flex;justify-content:center;">
            <button type="submit" class="btn btn-primary" style="color: white;background-color: #0d9144;border-color: #0d9144;min-width: 30%;min-height: 100%;" (click)="register()">Register</button>
        </div>
        <div class="col-12">
            <br>
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="message!=''">
            <label class="alertmess">{{message}}</label>
        </div>
    </form>  
    </div>



  </body>