body {
    margin:0;
    padding:0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d9144;
}

.btn-primary {
    background-color: #a31b0f;
    border-color: #a31b0f;
    min-width: 30%;
    min-height: 150%;
    font-size: 20px;
}
.btn-primary:active {
    background-color: #e73424;
    border-color: #e73424;
    min-width: 30%;
    min-height: 150%;
    font-size: 20px;
}

.h3 {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
}

.form-check-label {
    color: white;
}


.email {
    color:#a31b0f;
}

.lozinka {
    color: #a31b0f;
}

.navbar {
    background-color: #a31b0f;
    border-color: #a31b0f;
}

.label {
    color:white;
    font-size:120%;
}

.register-div{
    display: flex;
    justify-content: center;
}

.alert-danger {
    background-color: #FFD700;
    border: #FFD700;
    
    
}

.alertmess{
    display:flex;
    justify-content: center;
    color: #a31b0f;
}

.form-check-input[type=radio]:checked{
    background-color: #a31b0f;
    border-color: #a31b0f;
    box-shadow: 0;
}

.container{
    color:#0d9144;
    background-color: #0d9144;
    width: 10000%;
}
 
.nav{
    color:#0d9144;
    background-color: #0d9144;
    padding: 0%;
}

.row{
    max-width: 70%;
}

.main{
    display: flex;
    justify-content: center;
}

.message-div {
    margin-top: 20px; /* Adjust this value to control the spacing */
    margin-bottom: 20px; /* Adjust this value to control the spacing */
}
